| <!DOCTYPE html>
html
  head
    title Stock Data
    include ./head-includes.pug
    script(src='static/js/main.js')
  body
    h1 View stocks in real time
    div(class='container-fluid')
      canvas(id='stocksChart')
