body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #2e294e;
  color: white;
  font-family: 'Varela Round', sans-serif; }
  body .container-fluid {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center; }
  body h1 {
    margin-top: 0.1em; }

#stocksChart {
  margin-left: auto;
  margin-right: auto;
  flex: 1 1 auto;
  height: 100%; }

.boxesHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 1rem;
  max-width: 100vh;
  flex: 0 1 auto; }
  .boxesHolder .stockAdd {
    margin-top: 0.25em;
    display: inline-flex; }
    .boxesHolder .stockAdd input {
      width: 8rem; }

.stockBox {
  background-color: #8d99ae;
  border-radius: 4px;
  margin-right: 0.25em;
  margin-top: 0.25em;
  padding-left: 0.25rem; }
  .stockBox .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .stockBox span {
    margin-left: 0.5rem; }
  .stockBox .stockText {
    margin-right: 0.5rem; }
  .stockBox .colorBox {
    display: inline-flex;
    align-self: center;
    width: 1.25rem;
    height: 0.75rem;
    border-radius: 4px;
    border: 0.1rem solid white; }

.form-inline {
  display: flex;
  flex-direction: row; }

.stockAdd-menu {
  display: none;
  padding: 0 0.25em 0 0.25em;
  background-color: #8d99ae;
  border-radius: 4px; }

.btn-success {
  margin-right: 0.25em; }
