body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #2e294e;

  .container-fluid {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  color: white;
  font-family: 'Varela Round', sans-serif;

  h1 {
    margin-top: 0.5em;
  }
}

#stocksChart {
  width: 90% !important;
  height: auto !important;
  margin-left: auto;
  margin-right: auto;
}

.boxesHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;

  .stockAdd {
    margin-top: 0.25em;
    display: inline-flex;
  }
}

.stockBox {
  background-color: #8d99ae;
  border-radius: 4px;
  margin-right: 0.25em;
  margin-top: 0.25em;
  padding-left: 0.25em;

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.form-inline {
  display: flex;
  flex-direction: row;
}

.stockAdd-menu {
  display: none;
  padding: 0 0.25em 0 0.25em;
  background-color: #8d99ae;
  border-radius: 4px;
}

.btn-success {
  margin-right: 0.25em;
}
